html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include media('<md') {
    font-size: .85rem;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--green);
  color: var(--white);
  font-weight: 500;
}

a {
  color: var(--orange);
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  appearance: none;
  border: 0;
  border-radius: 0;
  font-family: inherit;
  font-weight: 900;
  background: transparent;
  cursor: pointer;
}

.button {
  background: var(--white);
  border: 3px var(--pine) solid;
  color: var(--pine);
  font-size: var(--text-base);
  padding: .5em .75em;
  border-radius: 10em;

  &:hover {
    background: var(--transpine);
  }
}

.list-reset {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding: 0;
  }
}

*:focus-visible {
  outline: var(--focus-weight, 2px) var(--focus-color, var(--orange)) solid;
  outline-offset: 3px;
}
