@font-face {
  font-family: 'Utility';
  src: url('../fonts/UtilityBoldCondensed.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FREE FAT FONT';
  src: url('../fonts/FREEFATFONT-Slanted.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
