/* Colors */
$orange: #FF6720;
$yellow: #F6DE08;
$green: #148E6C;
$pine: #005C43;
$black: #262934;
$white: #fff;
$light-gray: #f4f4f5;
$gray: #71717a;
$transpine: rgba($pine, .10);

/* Typography */
$font-base: Manrope, sans-serif;
$font-headline: Utility, sans-serif;
$font-display: 'FREE FAT FONT', sans-serif;

/* Breakpots */
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1250px,
  xxl: 1540px,
  sup: 2200px
);

/* Sizing */
$container-max-width: 1200px;

